@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
/* common design section */
.common-p {
  color: rgba(98, 115, 130, 1);
  text-align: center;
  max-width: 55ch;
  /* border: 2px solid; */
}
.btn {
  padding: 10px 15px;
  background-color: rgba(70, 145, 101, 1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  color: white;
  border-radius: 4px;
  border: 2px solid transparent;
  font-weight: 600;
  box-sizing: border-box;
}
.btn:hover {
  color: rgba(70, 145, 101, 1);
  background-color: white;
  border: 2px solid rgba(70, 145, 101, 1);
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: all 0.2s linear;
}
a{
  transition: all 0.1s linear;
}
a:hover {
  color: rgba(70, 145, 101, 1) !important;
}
ul {
  list-style: none;
}

/* header section design */
.navbar {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}
.navbar > ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.navbar ul a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.navbar img {
  width: 140px;
}
.hero {
  /* border: 2px solid red; */
  background-image: url(assets/hero-bg.png);
  height: 80vh;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  /* border: 2px solid; */
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero-content h1 {
  font-size: 64px;
  text-align: center;
  text-transform: capitalize;
}
.hero-content h1 span {
  color: rgba(48, 184, 104, 1);
}
.hero-content p {
  max-width: 65ch;
  text-align: center;
}
.hero-btn-container {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.see-btn {
  background-color: rgba(24, 16, 250, 0);
  border: 2px solid white;
}
.early-access-btn {
  padding: 10px 15px;
  border-radius: 999px;
  color: rgba(70, 145, 101, 1);
  font-weight: 500;
  border: none;
}
.early-access-btn:hover {
  cursor: pointer;
  background-color: rgba(70, 145, 101, 1);
  color: white;
}


/* note section design */
.note-section {
  /* border: 2px solid blue; */
  width: 80%;
  margin: 40px auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.note-section h2 {
  /* border: 2px solid; */
  text-transform: capitalize;
  text-align: center;
  font-size: 44px;
  color: rgba(0, 25, 49, 1);
  margin-bottom: 10px;
}
.card-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
.card {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.169);
  border-radius: 8px;
  min-height: 160px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.card img {
  background-color: rgba(249, 85, 85, 1);
  width: 20px;
  padding: 10px;
  border-radius: 50%;
}


/* second brain section design */
.second-brain {
  /* border: 2px solid red; */
  width: 80%;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-brain > img {
  width: 40%;
}
.solution {
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}
.solution ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  color: rgba(0, 25, 49, 1);
  padding: 6px 0;
}
.solution p {
  text-align: start;
  max-width: 48ch;
}
.solution h2 {
  font-size: 44px;
  text-transform: capitalize;
  color: rgba(0, 25, 49, 1);
}
.solution-btn {
  color: rgba(70, 145, 101, 1);
  text-transform: uppercase;
  font-weight: 500;
}


/* ready to think section design */
.think-section-content {
  width: 80%;
  margin: 60px auto;
  background: rgba(247, 246, 242, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 15px;
  padding: 80px 0;
}
.think-section-content h3 {
  color: rgba(0, 25, 49, 1);
  text-transform: capitalize;
  font-size: 40px;
}

/* footer section design */
footer {
  background-color: rgba(0, 25, 49, 1);
  color: rgba(250, 250, 250, 1);
}
.footer-content {
  width: 80%;
  margin: auto;
  /* border: 2px solid; */
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 60px 0;
}
.footer-content hr {
  border: none;
  height: 2px;
  border-radius: 999px;
  background-color: rgb(90, 107, 141);
}
.footer-p {
  padding: 30px 0;
  text-align: center;
}
.social-icons {
  /* border: 2px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.social-icons i {
  background-color: white;
  color: rgba(0, 25, 49, 1);
  font-size: 12px;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.1s linear;
}
.social-icons a{
  text-decoration: none;
}
.social-icons i:hover{
  background-color: rgb(0, 126, 135);
  color: white;
}